.drag-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    width: 60px;
    position: relative;
    min-height: 64px;
    border-radius: 6px 0px 0px 6px;
}