.draggable-container {
    right: 0px;
    position: fixed;
    z-index: 99999999999;
}

.info {
    font-family: Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.error {
    color: rgb(139, 39, 39);
    font-family: Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}